<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <standardEndpoints>
      <udpDiscoveryEndpoint>
        <standardEndpoint name="udpDiscoveryEndpoint" discoveryMode="Adhoc">
        </standardEndpoint>
      </udpDiscoveryEndpoint>
    </standardEndpoints>
    <bindings>
      <wsHttpBinding>
        <binding name="NoSecurityWsHttpBinding">
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>