<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFExample.Calculate">
        <endpoint address="http://localhost:2310/Calculate" 
                  binding="wsHttpBinding" contract="WCFExample.ICalculate"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>