<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="eNumbers.GetIngredients">
        <endpoint address="http://localhost:2311/GetIngredients"
                  binding="wsHttpBinding" contract="eNumbers.IGetIngredients"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>